:root {
    font-size: 30px;
}

body {
    background-color: #222;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.vignette-grid {
    background-color: #666;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* border-radius: .15rem;
    overflow: hidden; */
}

.vignette {
    --rdmHue: 0;
    background-color: hsl(var(--rdmHue), 40%, 60%);
    width: 5rem;
    height: 5rem;
    box-shadow: #fff9 0 0 1rem inset;
    transition: 100ms ease-in-out;
}

.vignette:hover {
    border-radius: .15rem;
    transform: scale(1.1);
    box-shadow: #444 0 0 .4rem;
}

.grid-span-col-2 {
    grid-column: span 2;
    width: calc(5rem + var(--gap-size));
}

.grid-span-row-2 {
    grid-row: span 2;
    height: calc(5rem + var(--gap-size));
}

.grid-span-2x2 {
    grid-column: span 2;
    grid-row: span 2;
    width: calc(5rem + var(--gap-size));
    height: calc(5rem + var(--gap-size));
}