body {
    background-color: #222;
    display: grid;
    place-items: center;
}

.vignette-grid {
    background-color: #666;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

.vignette {
    --rdmHue: 0;
    background-color: hsl(var(--rdmHue), 60%, 80%);
    width: 5rem;
    height: 5rem;
    transition: 100ms ease-in-out;
}

.vignette:hover {
    transform: scale(1.1);
    box-shadow: #444 0 0 .4rem;
}

.grid-span-col-2 {
    grid-column: span 2;
    width: calc(5rem + var(--gap-size));
}

.grid-span-row-2 {
    grid-row: span 2;
    height: calc(5rem + var(--gap-size));
}

.grid-span-2x2 {
    grid-column: span 2;
    grid-row: span 2;
    width: calc(5rem + var(--gap-size));
    height: calc(5rem + var(--gap-size));
}