:root{
    font-family: 'Franklin Gothic';
    font-size: 12px;
}
body{
    margin: 0;
}

/*!--Header--*/

header{
    background-color: aqua;
    display: flex;
    flex-flow:wrap row ;
    justify-content: center;
    align-items:center ;
    padding: 3rem;
}

.hItem{
    background: -webkit-radial-gradient(#525252, #333333) ;
    border-radius: 1rem;
    margin: 0.5rem;
    color: white;
    align-items: center;
    justify-content: center;
    width:fit-content;
    min-width: 10rem;
    min-height: 3rem;
}

/*!--Main--*/

main{
    background-color: salmon;
    height: fit-content;
    min-height: 1200px;
    padding: 2rem;
}

/*!--Footer--*/

footer{
    background-color: aqua;
    /* border: 2px solid blue; border-radius: 8px; */
    display: flex;
    flex-flow:wrap row ;
    justify-content: center;
    align-items:center ;
    padding: 20px;
}