*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'LemonMilk';
    src: url(./assets/fonts/lemon_milk/LEMONMILK-Regular.otf);
    font-weight: normal;
}

:root {
    font-size: 10vw;
    font-family: 'LemonMilk';
}

body {
    display: flex;
    justify-content: center;
}

.tbn-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 15px;
}

.thumbnail {
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
    transition: 100ms ease-in-out;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.tbn-label {
    width: 100%;
    height: min-content;
}

.tbn-label-gradient {
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(240, 240, 240, 0.8), rgba(0, 0, 0, 0));
    content: " ";
}

.tbn-anim::after {
    content: "Anim";
}

.tbn-mapping::after {
    content: "Mapping";
}

.tbn-photo::after {
    content: "Photo";
}