*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'LemonMilk';
    src: url(./assets/fonts/lemon_milk/LEMONMILK-Regular.otf);
    font-weight: normal;
}

:root {
    font-size: 10vw;
    font-family: 'LemonMilk';
}

.tbn-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
}

.thumbnail{
    width: 20vw;
    overflow: hidden;
    aspect-ratio: 1/1;
        
}