:root {
    --boxColor: #0ff7;
}

body {
    background-color: #111;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scene {}

.floor {}

.cube {}

.ball {}