@font-face {
    font-family: 'LemonMilk';
    src: url(./assets/fonts/lemon_milk/LEMONMILK-Regular.otf);
    font-weight: normal;
}

:root {
    font-size: 16px;
    font-family: 'LemonMilk';
}

* {
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*!--Welcome Page--!*/

.welcomebox {
    position: fixed;
    height: 100%;
    width: 100%;

    background: radial-gradient(bisque, bisque);

    display: flex;
    align-items: center;
    justify-content: center;
}

.welcometext {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(to left, rgb(240, 0, 140), rgb(240, 140, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcometickbox {
    display: none;
}

.welcometickbox:checked~ :is(h1, p) {
    font-size: 10em;
    opacity: 0;
    transition: 150ms ease-in;
}

/*!--Header--*/

header {
    position: fixed;
    width: 100%;
    background-color: red;
    margin: 0;
    padding: 0;
}


/*!--Main--*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: radial-gradient(hsl(0, 0%, 15%), hsl(0, 0%, 17%));
}

.content {
    padding: 3em;
    width: 80%;
    height: 80vh;
    background-color: hsl(0, 0%, 20%);
    box-shadow: 0em 0em 2.5em rgba(0, 0, 0, .3);
}

p {
    margin: 0;
}

/*!--Footer--*/

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: hsla(0, 0%, 100%, 0.5);
    margin: 0;
    padding: 0;
}

.footer_links {
    padding: 1em;
}