/* Tutorial by Fireship: https://www.youtube.com/watch?v=biOMz4puGt8&t=117s */

:root {
    font-size: 64;
    font-family: 'Franklin Gothic Medium';
    --text-primary: #b6b6b6;
    --text-secondary: #b39090;
    --bg-primary: #333333;
    --bg-secondary: #555;
    --navBarSize: 5rem;
}

body {
    color: var(--text-primary);
    background: rgb(44, 44, 44);
    margin: 0;
    padding: 0;
}



main {
    margin-left: 5rem;
    padding: 3rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 150ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#logo {
    justify-content: end;
}

.nav-item,
#logo {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link,
#logo {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg,
#logo svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 13rem;
}

.navbar:hover .link-text {
    display: block;
}

.navbar:hover .nav-logo {
    transform: rotate(180deg);
    transition: 250ms ease;
}

.nav-link:hover {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    transition: 200ms ease;
}